Dear Instructor,
<br/><br/>
My name is $firstName $lastName. I have submitted an assignment named $assignmentName in course named @courseName<br/>
Kindly, check my submisssion. <br/>
Sincerely, <br/>
$firstName $lastName