Dear $firstName $lastName,
<br/><br/>
There is a new assignment named $assignmentName created in course named @courseName<br/>
Please check it and contact to your instructor for further information <br/>
Sincerely, <br/>
Team LMS