Hi $firstName $lastName,
<br/><br/>
You are being assigned a Learning Plan named $learningPlanName <br/>
Please contact to your administration for further information <br/>
Sincerely, <br/>
Team LMS





