<table border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;max-width:700px;min-width:320px;width:100%"> 
    <tbody><tr>
    <td align="left" style="padding:2% 2% 2% 2%">
        <font color="#888888">
            </font><font color="#888888">           
        </font><table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody><tr border="0">
	            <td>
	                <font color="#888888">
	                    </font><table border="0" cellpadding="0" cellspacing="0" width="100%">
	                    <tbody>
	                    <tr>
		                    <td>
		                        <a href="$siteLink" style="display:inline-block" target="_blank" data-saferedirecturl="$siteGoogleSearchLink"><img src="$siteLogo" style="display:block;height:60px;width:300px" data-image-whitelisted="" class="CToWUd"></a>
		                    </td>
	                    </tr>
	                    <tr>
		                    <td style="padding:20px 0 0 0;font-size:24px;line-height:48px;font-family:'Open Sans','Trebuchet MS',sans-serif">
		                        <b>Dear $firstName $lastName</b>
		                    </td>
	                    </tr>
                       
                        <tr>
		                  <td style="padding:5px 0 0 0; font-size:14px;line-height:24px;font-family:'Open Sans','Trebuchet MS',sans-serif">
                              Welcome! You recently created an account at <a href="$siteGoogleSearchLink" target="_blank" data-saferedirecturl="$siteGoogleSearchLink">$siteGoogleSearchLink</a>.
		                  </td>
	                    </tr>
                       
                        <tr>
		                    <td style="padding:10px 0 0 0;font-size:16px;line-height:16px;font-family:'Open Sans','Trebuchet MS',sans-serif">
		                      <b>  Your Login details are as under  </b>
		                    </td>
	                    </tr>
                        
                           <tr >
		                    <td style="padding:5px 0 0 0;
                            font-family:'Open Sans','Trebuchet MS',sans-serif">
		                         <span class="il">Email Address: </span><b>$emailAddress </b>
		                    </td>
	                    </tr>
                        
                        <tr>
		                    <td style="font-family:'Open Sans','Trebuchet MS',sans-serif">  
                            <span class="il">Password: </span><b>$password </b>
		                    </td>
	                    </tr>
		                   
		              
                        <tr>
			                    <td style="padding:20px 0 0 0;font-size:14px;line-height:24px;font-family:'Open Sans','Trebuchet MS',sans-serif">
			                        <a style="text-decoration:none;color:#ffffff;display:inline-block;border-top:14px solid #339e72;border-right:40px solid #339e72;border-bottom:14px solid #339e72;border-left:40px solid #339e72;font-size:16px;font-weight:600;font-family:'Open Sans','Trebuchet MS',sans-serif;color:#ffffff;background-color:#339e72" href="$siteGoogleSearchLink" target="_blank" data-saferedirecturl="$siteGoogleSearchLink">CLICK HERE TO LOGIN</a>
			                    </td>
		                    </tr>
	                    <tr>
	                    
                        
                        <tr>
		                    <td style="padding:20px 0 0 0;font-size:14px;line-height:24px;font-family:'Open Sans','Trebuchet MS',sans-serif">
If you have any questions regarding your LMS account, please contact us at <a href="#" style="color:#2696eb;text-decoration:none" target="_blank" data-saferedirecturl="$siteGoogleSearchLink">$supportEmailAddress.</a> Our technical support team will assist you with anything you need.		                    </td>
	                    </tr>
	                    <tr>
		                    <td style="padding:20px 0 0 0;font-size:14px;line-height:24px;font-family:'Open Sans','Trebuchet MS',sans-serif">
Enjoy yourself, and welcome to LMS.		                    </td>
	                    </tr>
	                    <tr>
		                    <td style="padding:20px 0 0 0;font-size:14px;line-height:24px;font-family:'Open Sans','Trebuchet MS',sans-serif">
		                        Cheers<font color="#888888"><br>
		                    </font></td></tr>
	                    <tr>
		                    <td style="font-size:14px;line-height:24px;font-family:'Open Sans','Trebuchet MS',sans-serif">
		                        <b>LMS Team</b><br>
		                    </td>
	                    </tr>
	                    <tr>
		                    <td style="font-size:14px;line-height:24px;font-family:'Open Sans','Trebuchet MS',sans-serif">
		                        <a href="$siteLink" style="color:#2696eb;text-decoration:none" target="_blank" data-saferedirecturl="$siteGoogleSearchLink">$siteName</a> 
		                    </td>
	                    </tr>
                     
	                </tbody></table><font color="#888888">
	            </font></td></tr></tbody></table><font color="#888888">
	            
    </font></td>
    </tr>
</tbody></table>

 

